<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-hand-peace-o"></i>
                PPL
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/routines">Routines</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
      
    </div>
</nav>