<!-- views/routine.ejs -->
<% include partials/head %>
<% include partials/header %>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1><%= routine.name %></h1>
    </div>

    <div class="row">
        <%= routine %>
    </div>

</div>
</body>
<% include partials/footer %>