

<div class="overlay-fade">
	<div style="padding-top:0px" class="body-container">
		<img class="logo-login" src="assets/img/logo.svg"></img>
		<div class="hero-text">
			Simple tracking and progression for your fitness routine
		</div>
		<div class="label">
			EMAIL
		</div>
		<input ng-model="user" placeholder="Email" class="input">
		</input>
		<div class="label">
			PASSWORD
		</div>
		<input type="password" ng-model="pass" placeholder="Password" class="input">
		</input>
		<div ng-click="submit()" class="login-btn">
			LOGIN
		</div>
		<a href="http://45.55.1.41:8080/auth/facebook">
		<div class="login-btn facebook-btn">
			LOGIN WITH FACEBOOK
		</div>
	</a>
	</div>
</div>
<div class="login-bg">
</div>



