<div class="body-container">

	<ul ng-hide="selectedRoutine" ng-init="stock = true; my = false;" class="top-menu">
		<li ng-class="{'active': stock }" ng-click="my = false; stock = true;">
			STOCK ROUTINES
		</li>
		<li ng-class="{'active': my }" ng-click="stock = false; my = true;">
			MY ROUTINES
		</li>
	</ul>



	<span style="margin-top:30px;" ng-show="loading" class="tcon-loader--spinner360" aria-label="loading">
	  <span class="tcon-visuallyhidden">loading</span>
	</span>

	<div ng-hide="selectedRoutine" ng-click="setRoutine(routine)" ng-hide="loading || my" ng-repeat="routine in routines" class="routine">
		<div class="routine-name">
			{{routine.name}}
		</div>
		<div class='routine-overlay'></div>
	</div>
	
</div>
<div ng-show="selectedRoutine" ng-click="selectedRoutine=undefined" class="sticky" ng-class="{'down':$root.menu}">
	<div style="background-color: #72747D;" class="start-container">
		<div style="width:auto;padding:15px;">
			<img style="width: 18px;height: 18px;"class="start-flag" src="assets/img/back-arrow.svg">
			<div style="position: relative;top: -2px;margin-left: 5px;display: inline-block;margin-top: 5px;font-weight: 500;">
				BACK TO ROUTINES
			</div>
		</div>
	</div>
</div>