
<div class="body">
	<!-- first use -->
	<div ng-show="completedRoutines.length == 0">
		<div class="welcome-container">
			<div class="welcome-user">
			</div>
			<h2>Welcome to PPL!</h2>
			<p>Let's start you off with a great hypertrophy routine.</p>
		</div>
		
	</div>
	
	<!-- user has completed at least one workout -->
	<div class="body-container" ng-show="completedRoutines.length > 0">
		<div class="welcome-container">
			<div class="welcome-user">
			</div>
			Hello! Ready to start your workout?
		</div>
		<div class="workout-container" style="margin-bottom:.5em;">
			<div class="workout-header">
				<div class="workout-header-date">
					{{previousRoutine.dateCompleted | date:'medium'}}
				</div>
				<div class="workout-header-name">
					Last time: {{previousRoutine.name}}
				</div>
			</div>
		</div>
		
		<div class="workout-container">
			<div class="workout-header">
				<div class="workout-header-name">
					Next up: {{nextRoutine.name}}
				</div>
			</div>
		</div>
		<ul class="nextup-block">
			<li>
				<div class="workout-block-container" ng-repeat="movement in nextRoutine.movements">
					<div class="workout-block-name">
						{{movement.movement.name}}
					</div>
					<div class="workout-block-reps">
							{{ movement.sets }} x {{ movement.reps }}
					</div>
				</div>
			</li>
			
		</ul>
	</div>
</div>

<div class="sticky" ng-class="{'down':$root.menu}" ng-show="!previousRoutine">
	<div ng-click="startFirstWorkout()" class="start-container">
		<div style="width:auto;padding:15px;">
			<img class="start-flag" src="assets/img/flag.svg">
			<div style="position:relative;top:-5px;margin-left:5px;display:inline-block">
				START FIRST WORKOUT
			</div>
		</div>
	</div>
</div>

<div class="sticky" ng-class="{'down':$root.menu}" ng-show="previousRoutine">
	<div ng-click="startWorkout(previousRoutine)" class="start-container">
		<div style="width:auto;padding:15px;">
			<img class="start-flag" src="assets/img/flag.svg">
			<div style="position:relative;top:-5px;margin-left:5px;display:inline-block">
				START WORKOUT
			</div>
		</div>
	</div>
</div>


